$green1: #A8DB92;
$green2: #76B75B;
$green3: #4E9231;
$green4: #2D6E12;
$green5: #164900;

* {
  box-sizing: border-box;
}

.container {
  height: 850px;
}

.game {
  background-color: $green1;
}

.rules {
  text-align: center;
  background-color: $green2;
  p {
    font-size: 18px;
    color: $green5;
  }
  iframe {
    border: none;
  }
}

h1 {
  color: $green4;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: $green5;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

button:not(.btn-hidden) {
  outline: none;
  color: $green1;
  text-transform: uppercase;
  width: 200px;
  height: 75px;
  background-color: $green4;
  font-size: 25px;
  cursor: pointer;
  transition: color .5s, background-color .5s;
  border: 5px solid $green3;
  border-radius: 50%;
  &:hover, &:active {
    color: $green2;
    background-color: $green5;
  }
}

.btn-hidden {
  outline: none;
  height: 75px;
  color: transparent;
  background-color: transparent;
  border: none;
}

.btn-hidden1 {
  @extend .btn-hidden;
  width: 200px;
}

.btn-hidden2 {
  @extend .btn-hidden;
  width: 50px;
}

.round {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $green5;
  font-size: 30px;
  width: 100%;
  min-height: 120px;
  border: 5px solid $green4;
}

.row {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score {
  display: flex;
  height: 90px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  color: $green1;
  background-color: $green5;
}

.score1 {
  @extend .score;
  width: 40%;
}

.score2 {
  @extend .score;
  width: 20%;
}

.rounds {
  @extend .score;
  width: 50%;
}

.newGame {
  text-align: center;  
  width: 50%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  &.show {
    display: block;
  }
}

.modal {
  display: none;
  background: $green4;
  color: $green1;
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  &.show {
    display: block;
  }
  .close {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    color: $green1;
    text-decoration: none;
  }
  header {
    font-size: 30px;
    line-height: 40px;
    min-height: 30px;
    font-weight: bold;
    padding: 0 30px;
  }
  table {
    padding: 20px 0;
    border-collapse: collapse;
    border: 1px solid $green3;
    background-color: $green1;
    th, td {
      border: 1px solid $green3;
      min-width: 200px;
      text-align: center;
      vertical-align: middle;
    }
    tbody {
      display: block;
      max-height: 150px;
      overflow-y: auto;
    }
    th {
      text-transform: uppercase;
      color: $green5;
      height: 40px;
      font-size: 18px;
    }
    td {
      color: $green4;
      height: 25px;
      font-size: 16px;
    }
  }
  .score-show {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: $green2;
    background-color: $green5;    
  }
}

@media(max-width: 1549px) {
  .game, .rules {
   min-width: 250px;
  }
  iframe {
    width: 250px;
    height: 200px;
  }
}

@media(min-width: 1550px) {
  .container {
    float: left;
  }
  .game {
    width: 900px;
  }
  .rules {
    width: 600px;
  }
  iframe {
    width: 500px;
    height: 300px;
  }
}
